[user]
	name = VinceKalloe
	email = VinceKalloe@proton.me
[core]
	editor = nvim
[init]
	defaultBranch = main
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[safe]
	directory = /home/iam/repos/armbian/build
